{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <div class="col-xl-4 col-sm-10 col-xs-10 mx-auto py-5">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    <div class="container p-5">
        <div class="card border-success mb-5 mx-auto" style="width:18rem">
            <div class="card-body">
                <div class="card-title">
                    <h1 class="mt-3 text-center">Connexion</h1>
                </div>
                <div class="card-text">
                    <form method="post" class="container-md mb-3">
                        <label class="mt-3 form-label" for="inputEmail">E-mail</label>
                        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
                        <label class="mt-3 form-label" for="inputPassword">Mot de passe</label>
                        <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                        <button class="btn btn-lg btn-success mt-4 mx-auto d-block" type="submit">Me connecter</button>
                    </form>
                </div>
            </div>
            <div class="card-footer text-center bg-transparent">
                <p>Pas encore de compte?</p>
                <a href="" class="">Demandez vos accès</a>
            </div>
        </div>
    </div>

{% endblock %}
