{% extends "base.html.twig" %}

{% block title %}Modifier la franchise{% endblock %}

{% block body %}
    <div class="col-lg-4 mx-auto">
        <h1 class="p-5 text-center fx-bold">Modifier la franchise</h1>
        {{ form_start(franchiseForm, {'attr': {'class': 'container'}}) }}
        {{ form_rest(franchiseForm) }}
        <input type="submit" class="btn btn-success mt-3 mx-1" value="Valider">
        <a href="{{ path('admin_franchises') }}" class="btn btn-danger mt-3 mx-1">Annuler</a>
    </div>
{% endblock %}