{% extends "base.html.twig" %}

{% block title %}Modifier un module{% endblock %}

{% block body %}
    <div class="col-lg-4 mx-auto">
        <h1 class="p-5 text-center fx-bold">Modifier un module</h1>
        {{ form_start(moduleForm, {'attr': {'class': 'container'}}) }}
        {{ form_rest(moduleForm) }}
        <input type="submit" class="btn btn-success mt-3 mx-1" value="Valider">
        <a href="{{ path('admin_modules') }}" class="btn btn-danger mt-3 mx-1">Annuler</a>
    </div>
{% endblock %}